.url_card{
    border-left: 2px solid;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    background-color: #8080801f;
}

.collapse_header{
    text-align: left;
}
