.container{
    margin-top: 12px;

    h3{
        color: black;
    }

    a{
        font-size: 40px;
        margin: 0;
        color: black;
        font-weight: bold;
    }
}

.heading{
    text-align: left;
    font-size: 20px;
    color: blue;
    margin-top: 15%;
}