.layout{
    height: 100vh;
}

.slider{
    text-align: center;
    background-color: #f3f5f7 !important;
}

.header{
    height: 64px;
    background-color: #fff;
    padding-left: 12px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: blue;
}

.content{
    min-height: 120px;
    background-color: #fff;
    padding: 8px 12px;
}